<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.0.0" targetFramework="net40" />
  <package id="Common.Logging.Core" version="3.0.0" targetFramework="net40" />
  <package id="CommonUtils.Cron" version="1.0.1.25773" targetFramework="net40" />
  <package id="NCron" version="2.2" targetFramework="net40" />
  <package id="ncrontab" version="2.0.0" targetFramework="net40" />
  <package id="Quartz" version="2.3.3" targetFramework="net40" />
  <package id="System.Management.Automation" version="6.1.7601.17515" targetFramework="net40" />
</packages>